body {
  margin: 0;
}

a:hover {
  cursor: progress;
}

.navbar {
  background: #3c3a39;
  width: 100%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.ezra {
  color: #fff;
  width: 20%;
  height: 24px;
  margin-left: 2vw;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.hamburger {
  width: 70%;
  margin-right: 3vw;
}

.header {
  background-image: url(image/black-head.png);
  height: 590px;
}

.primary {
  font-family: Crete Round, serif;
  font-style: normal;
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  height: 124px;
  margin-left: 2vw;
  padding-top: 1.8em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supportive {

  
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.paragraph-header {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 2vw;
  margin-right: 3vw;
  flex: none;
  order: 2;
  flex-grow: 0;
}

ul {
  list-style-type: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 54%;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.group-header {
  width: 70%;
  height: 256.89px;
  position: absolute;
  left: 565.74%;
  right: -30.09%;
  top: 350px;
}

main {
  width: 100%;
}

.recent {
  text-align: center;
  color: #1c1a19;
  max-width: 91.6%;
  height: 83px;
  font-family: Crete Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin: 164px 24px 24px 24px;
  padding: 7px 5px 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
  border-bottom: 1px solid #212121;
}

.works1 {
  border: none;
  width: 100%;
  height: 560px;
  margin: 80px 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.yogalady {
  width: 100%;
  height: 237px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  display: flex;
  justify-content: center;
  flex: 0 1;
  order: 0;
  flex-grow: 0;
}

.multi-post1 {
  width: 100%;
  height: 36px;
  font-family: Crete Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.para-works1 {
  width: 100%;
  height: 147px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 3px;
  padding-top: 10px;
  margin-bottom: 0;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #091e42;
}

.list1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boxes1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin-left: -33px;
}

.box1 {
  width: 16.8%;
  height: 40px;
}

.box2 {
  width: 20.5%;
  height: 40px;
}

.box3 {
  width: 29%;
  height: 40px;
}

.box4 {
  width: 18.65%;
  height: 40px;
}

.button1 {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 38%;
  height: 40px; 
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  background: #ff6b00;
  line-height: 24px;
  margin: 24px 227px o 24px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.workswidth {
  width: 87.2%;
  margin: 56px 24px 120px 24px;
}

.works2 {
  width: 100%;
}

.works3 {
  width: 100%;
}

.works4 {
  width: 100%;
}

.works5 {
  width: 100%;
}

.works6 {
  width: 100%;
}

.works7 {
  width: 100%;
}

.image-back {
  background-image: url(image/imagetwo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 286px;
}

.professional {
  width: 90%;
  height: 81px;
  font-family: Crete Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.paragraphworks {
  width: 90%;
  height: 99px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.boxes2 {
  display: flex;
  justify-items: flex-start;
  
}

.waks1 {
  margin-right: 12px;
}

.waks2 {
  margin-right: 12px;
}

.button2 {
  width: 100%;
  background: #ff6b00;
  border: none;
  color: #fff;
  height: 48px;
}

.afterworks {
  background-image: url(image/black-head.png);
  width: 100%;
  height: 1801px;
}

.immediate-about {
  display: flex;
  flex-direction: column;
}

.aboutme {
  width: 88%;
  height: 79px;
  font-family: Crete Round, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 250px;
  padding-left: 4px;
  margin: 120px 24px 24px 24px;
  padding: 10px 10px 10px 0;
}

.aboutpara {
  width: 327px;
  height: 148px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
  margin-left: 24px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  padding: 2px 10px 2px 0;
  color: #F4F5F7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.aboutbutton {
  background-image: url(image/getresume.png);
  background-repeat: no-repeat;
  width: 41.6%;
  height: 48px;
  margin: 24px 195px 0 24px;
  display: flex;
  flex-grow: 0;
}
  
.nameslist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.language-container {
  width: 43.7%;
  height: 24px;
  
  font-family: InaiMathi, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  justify-content: center;
  align-content: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 136.73px 86.77px 44.73px 124.23px;
}

.language-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
}

.frames-containerwork {
  width: 60.5%;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0 59px 44px 89px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  order: 1;
  flex-grow: 0;
}

.frameworks-list {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skills-container {
  width: 30.67%;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0 59px 42.5px 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.skills-list {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.javascript {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.html {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.ruby {
  width: 43.2%;
  height: 24px;
  margin: 0 106.5px 32px 106.5px;
}

.css {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.react {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.ror {
  display: inline-block;
  width: 30%;
  height: 24px;
  margin: 0 100px 32px 100px;
}

.rspec {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.capybara {
  width: 30%;
  height: 24px;
  margin: 0 130.5px 32px 130.5px;
}

.database {
  width: 68%;
  height: 24px;
  margin: 0 52.5px 64px 67.5px;
  
}

.control {
  width: 63.4%;
  height: 24px;
  margin: 0 69.5px 26px 67.5px;
}

.cli {
  width: 64%;
  height: 24px;
  margin: 0 67.5px 32px 67.5px;
}

.design {
  width: 64.5%;
  height: 24px;
  margin: 0 66.5px 32px 66.5px;
}

.webdev {
  width: 64.5%;
  height: 24px;
  margin: 0 66.5px 87.54px 66.5px;
}

.myself-desc {
  width: 88%;
  height: 216px;
  
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  display: flex;
  flex-wrap: wrap;
  margin: 69px 25px 70px 23px;

}

#full-name {
  width: 79%;
  height: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: flex-start;
  color: #979493;
  border: none;
  border-bottom: 3px solid #dbd8d7;
  padding: 15px;
  margin: 0 41px 39px 39px;
}

.emailadres {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #979493;
  padding: 15px;
  margin: 0 41px 24px 39px;
}

textarea {
  width: 87%;
  height: 114px;
  padding: 12px;
  background: #fbf8f7;
  margin: 0 25px 24px 23px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  display: flex;
  flex-wrap: wrap;
}

.lastbutton {
  margin: 0 123px 78px 121px;
  width: 35%;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
}

.social-last {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  opacity: 1;
  margin: 25px 98px 63px 97px;
}

.footer {
  display: flex;
  flex-wrap: no-wrap;
  margin: 25px 98px 63px 97px;
}

.blackline {
  width: 35.7%;
  height: 5px;
  display: flex;
  justify-self: center;
  padding-left: 20px;
  margin: 0 122px, 11px 119px;
}

.workswidth {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media(min-width: 768px) {
  .workswidth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
  }

  textarea {
    height: 200px;
  }
   body {
    box-sizing: border-box;
   }
 }

 @media(min-width: 375px) {
  * {
    font-style: normal;
  }
 }