body {
  margin: 0;
<<<<<<< HEAD
  height: 100%;
}

header {
  width: 100%;
  background: #3C3A39;
=======
}

.header {
  height: 48px;
  width: 375px;
  border-radius: 0;
>>>>>>> 149d730de99218cd7dbc8ea5fcc166cbee5ee8e3
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
<<<<<<< HEAD
=======
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.placeholder {
  padding: 10px 12px;
  position: absolute;
  width: 94px;
  height: 44px;
  left: -1px;
  top: -6px;
  border-radius: 0;
}

.hamburger {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 300px;
  top: -3px;
  padding: 8px;
  border-radius: 8px;
  flex-direction: row;
  align-items: flex-start;
  right: 24px;
>>>>>>> 149d730de99218cd7dbc8ea5fcc166cbee5ee8e3
}

.headline {
  height: 90%;
  background: #1C1A19;
}

<<<<<<< HEAD
.logo {
  color: #fff;
  font-size: 25px;
  margin-left: 5vw;
  height: 2vh;
}

.hamburger {
  margin-right: 5vw;
}

.primary {
  color: #FF6B00;
  font-size: 56px;
  font-weight: 500;
  margin-left: 3vw;
  margin-top: 0;
  padding-top: 4rem;
}

.supportive {
  color: #FFF5E1;
  margin-left: 3vw;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

.paragraph {
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 3vw;
  margin-right: 4vw;
}

.social {
=======
.primarytext {
  position: absolute;
  left: 0.1in;
  top: 1in;
  height: 124px;
  width: 327px;
  font-family: Crete Round, serif;
  font-size: 30px;
  font-weight: 140;
  line-height: 52px;
  letter-spacing: 0.37px;
  text-align: left;
  color: #ff6b00;
}

.supporting {
  height: 27px;
  width: 327px;
  left: 12px;
  top: 2.3in;
  font-family: Roboto, sans-serif;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
  position: absolute;
}

.paragraph {
  height: 123px;
  width: 327px;
  left: 12px;
  top: 270px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  position: absolute;
}

.social {
  position: absolute;
  left: 17px;
  top: 420px;
  border-radius: 0;
>>>>>>> 149d730de99218cd7dbc8ea5fcc166cbee5ee8e3
  display: flex;
  flex-wrap: wrap;
}

.social-li {
  width: 20%;
  padding: 0;
<<<<<<< HEAD
  margin: 0;
}
.social-image {
  width: 0.8vw;
=======
  width: 200px;
  height: 320px;
  justify-content: space-evenly;
>>>>>>> 149d730de99218cd7dbc8ea5fcc166cbee5ee8e3
}

.group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
<<<<<<< HEAD
  bottom: 0;
  right: 0;
=======
  height: 200px;
  width: 205px;
  left: 325px;
  top: 495px;
  border-radius: 0;
  bottom: -13.36%;
}

.v1 {
  position: absolute;
  height: 93px;
  width: 130px;
  left: 297px;
  top: 473px;
  border-radius: 0;
  bottom: 3.72%;
}

.v2 {
  position: absolute;
  height: 93px;
  width: 113px;
  left: 282px;
  top: 458px;
  border-radius: 0;
}

.v3 {
  height: 93px;
  width: 113px;
  left: 332px;
  top: 514px;
  border-radius: 0;
  position: absolute;
}

.v4 {
  position: absolute;
  height: 46px;
  width: 44px;
  left: 301.5px;
  top: 459px;
  border-radius: 0;
}

.v5 {
  position: absolute;
  height: 46px;
  width: 44px;
  left: 293px;
  top: 456px;
  border-radius: 0;
}

.v6 {
  position: absolute;
  height: 16px;
  width: 15px;
  left: 298px;
  top: 492px;
  border-radius: 0;
}

.v7 {
  position: absolute;
  height: 45px;
  width: 41px;
  left: 363px;
  top: 325px;
  border-radius: 0;
}

.v-8-2 {
  position: absolute;
  height: 13px;
  width: 13px;
  left: 365px;
  top: 578px;
  border-radius: 0;
}

.v-8-3 {
  position: absolute;
  height: 8px;
  width: 13px;
  left: 356px;
  top: 594px;
  border-radius: 0;
}

.v-8-4 {
  position: absolute;
  height: 22px;
  width: 35px;
  left: 365px;
  top: 599px;
  border-radius: 0;
}

.v-8-5 {
  position: absolute;
  height: 13px;
  width: 11px;
  left: 332px;
  top: 603px;
  border-radius: 0;
>>>>>>> 149d730de99218cd7dbc8ea5fcc166cbee5ee8e3
}
