body {
  margin: 0;
  height: 100%;
}

header {
  width: 100%;
  background: #3C3A39;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.headline {
  height: 90%;
  background: #1C1A19;
}

.logo {
  color: #fff;
  font-size: 25px;
  margin-left: 5vw;
  height: 2vh;
}

.hamburger {
  margin-right: 5vw;
}

.primary {
  color: #FF6B00;
  font-size: 56px;
  font-weight: 500;
  margin-left: 3vw;
  margin-top: 0;
  padding-top: 4rem;
}

.supportive {
  color: #FFF5E1;
  margin-left: 3vw;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

.paragraph {
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 3vw;
  margin-right: 4vw;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social-li {
  width: 20%;
  padding: 0;
  margin: 0;
}
.social-image {
  width: 0.8vw;
}

.group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
